.wrapper{
    min-height: 100vh;
    
    background: rgb(111, 101, 101);
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width:100%;
    padding-top: 1rem;
    
    
}
.footer {
    margin-top: 80px;
    /* adjust as needed */
}
.table, tr, td, th {
    background: transparent !important;
    color: white !important;
    border: 1px solid white !important;
    padding: 10px;
}

.debit {
    color: red !important;  
}

.credit {
    color: green !important;
}
